.desktop {
  background-color: rgb(195, 198, 202);
  position: absolute;
  width: 1048px;
  height: 803px;

  z-index: 10;
}

.inner {
  height: 100%;
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(195, 198, 202) rgb(0, 0, 0) rgb(0, 0, 0) rgb(195, 198, 202);
  border-image: initial;

  &_inner {
    display: flex;
    flex-direction: column;
    padding: 2px;
    height: 100%;

    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255) rgb(134, 137, 141) rgb(134, 137, 141)
      rgb(255, 255, 255);
    border-image: initial;
  }
}

.top {
  display: flex;
  padding-right: 2px;
  margin-bottom: 10px;
  justify-content: flex-end;
  align-items: center;

  background-color: rgb(0, 0, 163);

  height: 24px;

  div {
    height: 18px;
    margin-left: 3px;
    position: relative;

    &:last-of-type {
      margin-right: 3px;
    }

    &:hover {
      &::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(134, 137, 141, 0.3);
        z-index: 1;
        cursor: pointer;
      }
    }

    img {
      position: relative;

      height: 100%;
      width: 15px;
      object-fit: cover;
      cursor: pointer;
    }
  }
}

.content {
  margin-bottom: 8px;
  flex: 1 1 0%;
  // position: relative;
  overflow-x: hidden;
  background-color: #e4e5e6;

  border-width: 1px;
  border-style: solid;
  border-color: rgb(134, 137, 141) rgb(255, 255, 255) rgb(255, 255, 255);
}

.bottom {
  width: 100%;
  height: 20px;
  bottom: 2px;
  display: flex;
  margin-top: auto;

  div {
    margin-left: 2px;
    min-width: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(134, 137, 141) rgb(255, 255, 255) rgb(255, 255, 255)
      rgb(134, 137, 141);
  }

  div:first-child {
    display: flex;
    margin: 0;
    align-items: center;
    flex: 1 1 0;

    font-size: 0.7rem;
    letter-spacing: 1px;
  }

  div:last-child {
    display: flex;

    margin-left: 2px;
    flex: 0.285714 1 0%;
  }
}

.resizer {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 4px;
  bottom: 4px;
  object-fit: contain;
  background-color: rgb(195, 198, 202);
  user-select: none;
  img {
    width: 15px;
    height: 15px;
  }

  cursor: nw-resize;
}

.dragArea {
  position: absolute;
  top: 0;
  left: 0;
  right: 70px;

  height: 40px;
}

.isDragging {
  cursor: move;
}

@media screen and (max-width: 1080px) {
  .desktop {
    width: 700px;
  }
}

@media screen and (max-width: 710px) {
  .desktop {
    width: 400px;
  }
}
